.buttonOpen {
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 15px;
    background-color: white; /* Fundo branco */
    color: black; /* Texto preto */
    border: 1px solid black;
    cursor: pointer;
    z-index: 1001;
    border-radius: 5px;
}



.options{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.options a{
  color: #ffffff;
  transition: all 0.2s;
}

.options a:hover{
  font-size: 20px;
}

.linha-horizontal-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 2px;
  background-color: #FFF;
  margin: 10px 0;
}

.sidebar{
  background-color: #272727;
}