.buttonOpen {
    position: fixed;
    right: 20px; /* Distância da borda direita */
    top: 20px; /* Distância do topo (ajustei para 20px para ficar visível) */
    padding: 10px 15px; /* Tamanho do botão */
    color: black;
    border: 1px solid black; /* Remove a borda do botão */
    cursor: pointer; /* Mostra a mãozinha ao passar o mouse */
    z-index: 1001; /* Garante que o botão fique acima de outros elementos */
    border-radius: 5px; /* Bordas arredondadas */
  }

.options{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.linha-horizontal-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 2px;
  background-color: #FFF;
  margin: 10px 0;
}