#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

.card-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 390px;
  height: 400px;
  position: relative;
  text-align: center;
  padding-top: 20px; /* Adiciona um espaço no topo para garantir que o conteúdo superior apareça */
  background-color: #0f061b; /* Ajuste a cor de fundo conforme necessário */
  border-radius: 20px; /* Bordas arredondadas */
  box-shadow: 0 0 30px 15px rgba(0, 0, 0, 0.781); /* Efeito de glow mais suave */
}

.card-left p{
  color: #ffffff;
}

.card-left .logo-container {
  display: flex;
  align-items: center;
  position: relative; /* Necessário para posicionar as margens ao lado */
}

.card-left .margem-esquerda,
.card-left .margem-direita {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem; /* Ajuste o tamanho da fonte conforme necessário */
}

.card-left .margem-esquerda {
  left: -40px; /* Ajuste conforme necessário para o seu layout */
}

.card-left .margem-direita {
  right: -40px; /* Ajuste conforme necessário para o seu layout */
  color: #ffffff;
}

.card-left span{
  color: #ffffff;
}

.card-left .logo {
  max-width: 200px; /* Ajuste o tamanho da logo conforme necessário */
  margin: 0 20px;
}

.card-left .margens {
  margin-top: 20px;
}

.card-left h1 {
  margin-top: 10px;
  width: 700px;
  color: #ffffff
}

.logo {
  height: 12em;
  /*padding: 1.1em;*/
  will-change: filter;
  transition: filter 300ms;
}

.card-margens {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 450px;
  margin-bottom: 20px;
}

.card-margens div p {
  font-weight: bold;
  font-style: italic;
}

.card b, p{
  color: #ffffff
}

.card-margens div input {
  width: 80%;
  padding: 10px;
  background-color: #f9fafb;
  /* fundo suave */
  border: 1px solid #e5e7eb;
  /* borda clara */
  border-radius: 6px;
  /* bordas arredondadas */
  color: #000;
  text-align: center;
  font-weight: bold;
}

.linha-horizontal {
  width: 100%;
  /* Largura da linha */
  height: 1px;
  /* Altura da linha */
  background-color: #ffffff;
  /* Cor da linha */
  margin: 20px 0;
  /* Espaço em volta da linha */
}


.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.read-the-docs {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}